body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin-top: 20px; */
    background-image: url(./images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
 
}
h1{
    font-size: 40px;
}
#result {
    margin-top: 20px;
    background-color: aliceblue;
}
img {
    max-width: 300px;
    margin-top: 10px;
}
button {
    margin-top: 20px;
    width: 250px;
    height:93px;
    font-size:32px;
    font-weight: 600;
    border-radius: 28px;
    color: red;
    border-width: 5px;
}
a{
    font-size: 24px;
    color: black;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 8px;
margin-top: 50px;
}
canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
}
#warning {
    color: rgb(245, 241, 241);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
 background-color: rgb(245, 82, 82);
    margin-bottom: 20px;
}
   