body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin-top: 20px; */
    background-image: url(./images/2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
#result {
    margin-top: 20px;
}
img {
    max-width: 300px;
    margin-top: 10px;
}
button {
    margin-top: 20px;
    width: 150px;
    height: 43px;
    font-size: larger;
    font-weight: 600;
    border-radius: 8px;
}
canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
}
#warning {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}